#Fade{
    width:500px;
}

#Omega{
    width:523px;
}

#h1{
    font-size:75px;
}
h2{
 font-size:50px;   
}

body{
    text-align:center;
}

#raven{
    width:524px;
}

#ravage{
    width:523px;
}

#shogun{
    width:524px;
}

#hime{
    width:523px;
}

h3{
    font-size:50px;
}

h4{
    font-size:50px;
}

#div{
   width:50px;
    height:10px; 
}

#hr1{
    width:325px;
    height:5px;
    background-color:black;
}